.h1 {
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px 10px 10px 10px;
}

.textBox{
    /*TODO*/
}

.ContentBox{
    border: solid 1px;
    border-color: gray;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
