.h1 {
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px 10px 10px 10px;
}

.textBox{
    /*TODO*/
}

.globalNav {
    list-style: none;
}

.contentBox{
    border: solid 1px;
    margin: 5px 5px 5px 5px;
}